@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0px;
    font-family: Roboto, sans-serif;
}
.section-1 {
    background-color: #1F2937;
    padding-bottom: 150px;
}

.header {
    display: flex;
    justify-content: space-around;
    color: #F9FAF8;
    font-size: 24px;
    
}

h3 {
    margin: 18px;
}


.links {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB
    
}

.main {
    display: flex;
    justify-content: space-around;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 12px;;
}

img {
    height: auto;
    width: 300px;
    margin-top: 205px;
}
.right, .left {
    padding-top: 48px;
}
.right {
    box-sizing: border-box;
    width: 500px;
    height: 250px;
    padding-left: 122px;
}

.right div {
    font-size: 18px;
    color: #E5E7EB
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #3882F6;
}



.left {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 500px;
    height: 250px;
    padding: 50px;
}

.right div {
    padding-bottom: 18px;
}

.section-2 {
    background-color: #F9FAF8;
    padding: 36px 0px 84px 0px;
}

.section-2 img {
    width: 100px;
    height: 100px;
    margin-top: 54px;

}

.information {
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.section-3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 84px 300px 84px 300px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.author {
    font-size: 24px;
    color: black;
    text-align: right;
}

.section-4 {
    background-color: #F9FAF8;
    padding: 72px 150px 72px 150px;
}

.container2 {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    padding: 64px 74px 64px 74px;
}

.call-to-action {
    font-size: 24px;
}

.below-call-to-action {
    font-size: 18px;
    color: #E5E7EB;
}

.right-container{
    height: 48px;
}
.right-container button {
    border: 1px solid #F9FAF8;
}

.footer {
    background-color: #1F2937; 
    padding: 36px 0px 36px 0px;
}

.footer-message {
    font-size: 18px;
    color: #F9FAF8;
    text-align: center;
}

a:link, a:visited,  a:hover, a:active
{
    color: #F9FAF8;
    text-decoration: none;
}

